* {
  max-width: 1000px;
  margin: auto;
}
#header{
  background-color: rgb(218, 77, 131);
  padding: 10px;
  width: 990px;
  text-align: center;
  font-family: 'Cookie', cursive;
  font-weight: bolder;
  font-size: 40px;
  overflow: hidden;
  position: fixed;
  top: 0;
}
#rainbow{
  padding: 4px;
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  width: 100%;
  margin-top: 0px;
  position: fixed;
}
/* #left{
  width: 40px;
  height: 1000px;
  background-color: rgba(223, 37, 108, 0.5);
  float: left;
  position: fixed;
}
#right{
  width: 40px;
  height: 1000px;
  background-color: rgba(223, 37, 108, 0.5);

} */

#main-container{
  background-color: bisque;
  margin-top: 105px;
  height: 1000px;
  clear: both;
  
}
#content{
  display: inline-block;
  margin-top: 30px;
  margin-left: 70px;
}

#footer{
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  padding: 4px;
  width: 100%;
  position: fixed;
  bottom:0;
  z-index: 1;
  clear: both;
}



